In [2]:
from bs4 import BeautifulSoup
import requests
from datetime import datetime
import csv
import pandas as pd

In [3]:

source_link = requests.get('https://kun.uz/uz/news/list')

In [28]:
soup = BeautifulSoup(source_link.content, 'html.parser') #.title.text
link = soup.find_all(class_='daily-block l-item')
header = ['Title', 'Time', 'Link', 'Content']
with open('news.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    for i in range(1, 4):
        time = datetime.now().strftime("%H:%M")
        n_link = 'https://kun.uz'+link[i].get('href')
        news_link = requests.get(n_link)
        soup_2 = BeautifulSoup(news_link.content, 'html.parser')
        title = soup_2.find(class_='single-header__title').text
        content = soup_2.find(class_='single-content').find_all('p')
        content_2 = ''
        for p in content:
            content_2 = content_2 + p.text
        writer.writerow([title, time, n_link, content_2])

In [29]:
df = pd.read_csv('news.csv',encoding='cp1252')
df

,Title,Time,Link,Content
0,Ulsan shahri ma’muriyati O‘zbekiston fuqarolar...,11:24,https://kun.uz/uz/news/2022/12/05/ulsan-shahri...,Amaliy tashrif bilan Janubiy Koreyada bo‘lgan ...
1,Toshkentda ob-havo sabab avtobuslar oraliq int...,11:24,https://kun.uz/uz/news/2022/12/05/toshkentda-o...,Toshkentda noqulay ob-havo sabab avtobuslar or...
2,YeXHT parlament assambleyasi 2023 yildagi kuzg...,11:24,https://kun.uz/uz/news/2022/12/05/yexht-parlam...,O‘zbekiston tashqi siyosat idorasi rahbari Mar...

In [32]:
word = []
for i in df.index:
    word.append(len(df['Content'][i].split(' ')))
df['Word'] = word
df

,Title,Time,Link,Content,Word
0,Ulsan shahri ma’muriyati O‘zbekiston fuqarolar...,11:24,https://kun.uz/uz/news/2022/12/05/ulsan-shahri...,Amaliy tashrif bilan Janubiy Koreyada bo‘lgan ...,59
1,Toshkentda ob-havo sabab avtobuslar oraliq int...,11:24,https://kun.uz/uz/news/2022/12/05/toshkentda-o...,Toshkentda noqulay ob-havo sabab avtobuslar or...,147
2,YeXHT parlament assambleyasi 2023 yildagi kuzg...,11:24,https://kun.uz/uz/news/2022/12/05/yexht-parlam...,O‘zbekiston tashqi siyosat idorasi rahbari Mar...,98

In [40]:
df["Content"][1].count("havo")

4